.App h1 {
  font-weight: bold;
  margin: 8px;
  color: goldenrod;
  text-align: center;
  font-style: oblique;
}

.App h2 {
  font-size: 16px;
}

.row {
  display: flex;
}
.filters {
  display: flex;
  gap: 15%;
  margin-top: 5%;
  margin-left: 5%;
}
.col {
  text-align: center;

  flex-direction: column;
  width: 85%;
  margin-right: 0px;
}

.bar {
  background-color: white;
  float: right;
  margin-right: 20%;
  margin-bottom: 5%;
  height: 1px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* login page css */

.Auth-form-container {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.Auth-form {
  width: 420px;
  height: 600px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 3px;
  padding-bottom: 5px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Auth-form-title {
  text-align: center;

  margin-bottom: 1em;
  font-size: 30px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

.link-primary {
  color: blue;
}

label {
  margin-top: 20%;
  font-size: 18px;
  font-weight: 600;
  color: rgb(34, 34, 34);
  display: flex;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
